__pycache__
.env
/database/setup/audio_language.csv
/database/setup/genre.csv
/database/setup/language.csv
/database/setup/category.csv
/database/setup/developer.csv
/database/setup/publisher.csv
/database/setup/game_audio_language.csv
/database/setup/game_genre.csv
/database/setup/game_language.csv
/database/setup/game_category.csv
/database/setup/game_developer.csv
/database/setup/game_publisher.csv
/database/setup/game1.csv
/database/setup/game2.csv
/database/setup/game_tag.csv
/database/setup/tag.csv
/database/setup/games.json
/database/setup/game_video.csv