{% extends 'base.html' %}

{% block title %}Account{% endblock %}

{% block navbar %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home', page=0) }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('mygames', page=0) }}">My Games</a>
          </li>
        </ul>
    </div>
    <div class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto shadow-lg p-3 mb-5 bg-white rounded">
                <h2>Account</h2>
                <p>Username: {{ user.username }}</p>
                <p>Role: {{ user.user_role }}</p>
                <p>Balance: ${{ acnt.balance }}</p>
            </div>
            
            <div class="col-lg-12 mx-auto shadow-lg p-3 mb-5 bg-white rounded">
                <h2>Change Password</h2>
                {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
                <form action="{{ url_for('change_password') }}" method="post">
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary my-2">Change Password</button>
                </form>
            </div>

            {% if user.user_role == 'admin' %}
                <div class="col-lg-12 mx-auto shadow-lg p-3 mb-5 bg-white rounded">
                    <h2>Users</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Role</th>
                                <th scope="col">Update Role</th>
                                <th scope="col">Delete Account</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in users %}
                                <tr>
                                    <td>{{ u.username }}</td>
                                    <td>{{ u.user_role }}</td>
                                    <td>
                                        <form action="{{ url_for('change_role') }}" method="post" class="row">
                                            <select name="role" class="form-control form-control-sm" style="width: 50%">
                                                <option value="user">user</option>
                                                <option value="admin">admin</option>
                                            </select>
                                            <button type="submit" class="btn btn-primary btn-sm mx-2" style="width: 30%">Update Role</button>
                                            <input type="hidden" name="username" value="{{ u.username }}">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('delete_user' )}}" method="post">
                                            <button type="submit" class="btn btn-primary btn-sm">Delete Account</button>
                                            <input type="hidden" name="username" value="{{ u.username }}">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination
                            justify-content-center
                        ">
                            <li class="page-item
                                {% if page == 0 %}
                                    disabled
                                {% endif %}
                            ">
                                <a class="page-link" href=" {{ url_for('account', page=prev_page) }} ">Previous</a>
                            </li>
                            <li class="page-item
                                {% if next_page == page %}
                                    disabled
                                {% endif %}
                            ">
                                <a class="page-link" href=" {{ url_for('account', page=next_page)}} ">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}