{% extends 'base.html' %}

{% block title %}Game{% endblock %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home', page=0) }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('mygames') }}">My Games</a>
      </li>
    </ul>
</div>
<div class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('account') }}">Welcome, {{ user.username }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <!-- create floating grids using shadow -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto shadow-lg p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <h1>{{ game.game_name }}</h1>
                            <img src="{{ game.header_image }}" class="img-responsive" style="max-width: 90%;">
                        </div>
                        <div class="col-lg-7">
                            <p>{{ game.about_game }}</p>
                            <p>Price: ${{ game.price_usd }}</p>
                            <p>Release Date: {{ game.release_date }}</p>
                            {% if game.is_purchased %}
                                <a href="{{ url_for('mygames') }}" class="btn btn-primary">Game Already Purchased</a>
                            {% else %}
                                {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
                                <form action="{{ url_for('purchase_game') }}" method="post">
                                    <button type="submit" class="btn btn-primary">Purchase</button>
                                    <input type="hidden" name="game_id" value="{{ game.game_id }}">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if game.video_urls %}
            <div class="row">
                <div class="col-lg-8 mx-auto shadow-lg p-3 mb-5 bg-white rounded">
                    <h2>Videos</h2>
                    <div class="container">
                        <div class="row">
                            {% for video in game.video_urls %}
                                <div class="col-lg-6">
                                    <iframe width="100%" height="315" src="{{ video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>        
        {% endif %}
    </div>
{% endblock %}