{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block navbar %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home', page=0) }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('mygames') }}">My Games</a>
          </li>
        </ul>
    </div>
    <div class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('account') }}">Welcome, {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<!-- show each game with its header_image and title. -->
<div class="container">
    <div class="row">
        {% for game in games %}
            <div class="col-md-5 mx-auto">
                <a href="{{ url_for('game', game_id=game.game_id) }}" class="link-offset-2 link-underline link-underline-opacity-0">
                    <h3>{{ game.game_name }}</h3>
                    <img src="{{ game.header_image }}" class="img-responsive shadow-lg p-3 mb-5 bg-white rounded">
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<!-- add pagination -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item 
                        {% if page == 0 %}
                            disabled
                        {% endif %}
                    ">
                        <a class="page-link" href="{{ url_for('home', page=page-1) }}">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('home', page=page) }}">{{ page+1 }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('home', page=page+1) }}">{{ page+2 }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('home', page=page+2) }}">{{ page+3 }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('home', page=page+1) }}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}